body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.nav_wrapper {
  /* background-color: rgb(222, 58, 59); */
  background-color: #fff;
}

#nav_main {
  width: 100%;
  margin: auto;
}

.ul_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul_main li {
  height: 100%;
}

.ul_main li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px;
}

.container {
  height: 200px;
  background-color: rgb(222, 58, 59);
}
.nav_child {
  position: absolute;
  left: 0px;
  padding: 0 18px;
}
.nav_parents {
  position: relative;
}
.nav_parents:hover .nav_child {
  display: block;
}
ul.nav_child {
  width: 225px;
  list-style: none;
  /* right: 0px; */
  /* position: absolute; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.nav_child-list {
  padding: 6px;
}
